body {
    width: 300px;
    background-color: lightblue;
    text-align: center;
}

.root {
    display: flex;
}

.btn {
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    user-select: none;
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
}

.btn:hover {
    background-color: lightslategray;
}

.cnt {
    flex-grow: 2;
    margin: 5px;
    text-align: center;
    user-select: none;
    outline-color: black;
    outline-width: 1px;
    outline-style: solid;
}